In [1]:
import pandas as pd

## 1 задача
### Скачать данные по ссылке https://www.kaggle.com/datasets/shivachandel/kc-house-data
### Файл прикрепил к материалам kc_house_data.csv
### Считать данные с помощью pandas
### Вывести на экран первые 5 строк
### Посмотреть на описание признаков и на их содержание

In [5]:
df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.4+ MB

##  2 задача
### Проведите первичный анализ данных
### Изучите типы данных
### Найдите количество пропущенных ячеек в данных
### Посчитайте основные статистики по всем признакам и поизучайте их
### Пишите выводы

In [9]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

В таблице 21613 строчка и 21 колонка, представленные типы данных - float64(6), int64(14), object(1).В таблице с описанием представлены минимальные и максимальные значения, а также квантили.

## 3 задача
### Ответьте на несколько вопросов
### 3.1 В каком диапазоне изменяются стоимости недвижимости?
### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
### 3.3 Как много домов с разными этажами в данных?
### 3.4 Насколько хорошие состояния у домов в данных?
### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [15]:
{df['price'].min(),df['price'].max()}

{75000.0, 7700000.0}

In [18]:
df['sqft_living'].sum()/df['sqft_lot'].sum()

0.1376781757959227

In [20]:
df['floors'].nunique()

6

In [72]:
df['condition'].value_counts(normalize=True)

3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: condition, dtype: float64

In [22]:
 {df['yr_built'].min(),df['yr_built'].max()}

{1900, 2015}

## 4 задача
### Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
### 4.3 Как много домов коснулся ремонт?
### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [45]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

In [47]:
df[df['price'] >= 600000]['sqft_lot'].mean()

20454.783537543197

In [58]:
len(df[df['yr_renovated'] > 0])

914

In [68]:
df[df['grade'] > 10]['price'].sum()/df[df['grade'] < 4]['price'].sum()

1110.2435164690382

In [69]:
df[df['grade'] > 10]['price'].sum()

842674829.0

In [70]:
df[df['grade'] < 4]['price'].sum()

759000.0

## 5 задача
### Ответьте на несколько вопросов
### 5.1 Выберите дом клиенту
### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
### 5.2 Выберите дом клиенту
### Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В ### какой ценовом диапазоне будут дома?
### 5.3 Выберите дом клиенту
### Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [81]:
df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600.0,1950,2002,0,98074,47.6053,-122.077,4550,19508
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770.0,200,1980,0,98070,47.3844,-122.438,2280,75396
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990.0,2020,1999,0,98033,47.6767,-122.211,3430,26788
1261,7636800041,20140625T000000,995000.0,3,4.50,4380,47044,2.0,1,3,...,9,3720.0,660,1968,1990,98166,47.4734,-122.365,2460,18512
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000.0,2390,1991,0,98040,47.5631,-122.210,4320,24619
1361,1925069082,20150511T000000,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860.0,1780,1952,0,98052,47.6393,-122.097,3140,14200
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350.0,290,2004,0,98155,47.7493,-122.280,3030,23408
2864,4114601570,20141118T000000,3600000.0,3,3.25,5020,12431,2.0,1,4,...,10,3420.0,1600,1941,2002,98144,47.5925,-122.287,3680,12620
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680.0,2360,1940,2001,98004,47.6500,-122.214,3930,25449
3934,1269200229,20140723T000000,1379900.0,3,3.25,3786,38038,1.0,1,4,...,9,1934.0,1852,1978,2006,98070,47.3907,-122.448,2850,33361
5760,623059016,20140717T000000,1100000.0,4,3.25,3190,11774,2.0,1,4,...,8,2610.0,580,1956,1991,98178,47.5033,-122.225,2240,8725
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050.0,1940,2002,0,98027,47.5554,-122.077,3330,14810
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910.0,1570,1936,0,98105,47.6515,-122.277,3510,15810
7989,9362000040,20140623T000000,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740.0,1490,2005,0,98040,47.5348,-122.243,3670,17826
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820.0,4820,1983,2009,98040,47.5570,-122.210,3270,10454
8163,1724069079,20150319T000000,1452000.0,2,3.25,2070,3128,2.0,1,3,...,9,1760.0,310,1988,0,98075,47.5686,-122.060,2740,3568
8784,3343302110,20150306T000000,1800000.0,3,3.00,2790,13295,2.0,1,4,...,10,2370.0,420,1933,1989,98006,47.5466,-122.197,3140,11949
10263,625059036,20140813T000000,2700000.0,5,4.00,4230,27295,2.0,1,4,...,8,3230.0,1000,1949,1985,98033,47.6803,-122.214,2660,27295
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850.0,1000,1989,0,98034,47.7011,-122.244,3350,12210
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720.0,1390,2001,0,98115,47.6934,-122.271,2640,15929
11424,5119400075,20140620T000000,950000.0,3,3.25,3050,18892,1.0,1,4,...,8,1650.0,1400,1962,0,98198,47.3881,-122.326,1170,70973
11446,624069035,20141209T000000,2750000.0,4,4.00,4130,5575,2.0,1,4,...,10,2860.0,1270,1993,0,98075,47.5968,-122.083,2980,5575
11844,2623039082,20150218T000000,770000.0,3,3.50,2050,21744,2.0,1,4,...,9,1750.0,300,1930,0,98166,47.4536,-122.376,2300,12200
12459,4114601580,20140724T000000,1900000.0,6,4.00,3020,13237,2.0,1,4,...,8,2840.0,180,1942,1983,98144,47.5924,-122.287,3680,12620
12935,3222049044,20140612T000000,835000.0,3,3.00,2790,12523,2.0,1,4,...,8,1600.0,1190,1977,0,98198,47.3571,-122.324,2990,11476
13710,2923500230,20141216T000000,2600000.0,4,4.50,5270,12195,2.0,1,4,...,11,3400.0,1870,1979,0,98027,47.5696,-122.090,3390,9905
13967,3126059023,20150303T000000,3395000.0,4,3.50,4730,47870,1.0,1,4,...,10,2940.0,1790,1954,0,98033,47.6967,-122.216,3250,49346
14083,3625059043,20140904T000000,3300000.0,5,4.75,6200,13873,2.0,1,4,...,11,4440.0,1760,1989,0,98008,47.6050,-122.112,2940,13525
14619,7936500109,20140725T000000,2230000.0,3,3.00,3620,28064,2.0,1,4,...,10,2370.0,1250,1977,0,98136,47.5516,-122.398,2550,34713
14822,3623500408,20150330T000000,2600000.0,3,3.00,3410,16015,2.0,1,4,...,10,2220.0,1190,1973,0,98040,47.5721,-122.239,3760,16572
15482,624069108,20140812T000000,3200000.0,4,3.25,7000,28206,1.0,1,4,...,12,3500.0,3500,1991,0,98075,47.5928,-122.086,4913,14663
15668,4030100290,20141001T000000,1680000.0,5,3.50,5170,7197,3.0,1,4,...,11,3520.0,1650,1998,0,98155,47.7561,-122.271,3020,12880
16817,825059178,20140923T000000,2574000.0,4,3.75,4475,20424,2.0,1,4,...,12,2659.0,1816,1999,0,98033,47.6646,-122.208,4340,5250
17767,7352200450,20150115T000000,2050000.0,4,3.25,3580,19989,1.5,1,4,...,7,3480.0,100,1915,1965,98125,47.7087,-122.276,2410,6389
18199,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,...,11,2460.0,1760,1958,1987,98008,47.6083,-122.110,3810,30401
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150.0,1270,2001,0,98008,47.5720,-122.102,2760,8525
18556,6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,...,10,3030.0,860,1923,0,98105,47.6608,-122.269,4140,19281
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430.0,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940.0,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830.0,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540.0,1310,2007,0,98008,47.5943,-122.110,3470,18270

In [83]:
df1 = df[((df['waterfront'] == 1) | (df['view'] == 4)) & (df['condition'] >=4) & (df['yr_built'] >= 1980)]

In [85]:
 {df1['price'].min(),df1['price'].max()}

{705000.0, 5300000.0}

Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [88]:
df2 = df[(df['floors'] == 2) & (df['price'] <= 150000) & (df['sqft_basement'] == 0)]

In [89]:
df2['condition'].mean()

3.0